@import "tailwindcss";

@theme {
    --color-brown-1: #897455;
    --color-sec:#eeeee6;
    --color-brown-2:#80694d;
    --color-brown-3:#c0b3a2;
    --color-brown-4:#626060;
    --color-brown-5:#958E09;
    --color-blue-1:#408bd1;
    --color-sec-2:#e6e6df;
    --color-grey-2:#777773;
    --color-grey-5:#666666;
    --color-grey-3:#cccccc;
    --color-cstm-border:#c6a5ee;
    --color-border-grey:#cfcfc8;
    --color-blue-6:#47276D;
    --color-white-2:#eeeee6;
    --color-white-1:#F4F4F4;
    --color-white-3:#dbdbdb;
    --font-roboto:"Roboto", sans-serif;
    --font-anton:"Anton", sans-serif;
    --color-light-orange:#f8f3ef;
}
